<div class="row w-100 align-items-center">
  <div class="col-8">
    <table class="table border bg-white rounded">
      <thead>
        <tr class="font-weight-bold">
          <td>username</td>
          <td>email</td>
          <td>actions</td>
        </tr>
      </thead>
      <tbody>
        <% User.all.each do |user| %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
              <%= link_to 'delete', user_path(user), method: :delete, class: 'btn btn-sm btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-12 mb-3 border p-5 rounded bg-white">
      <h4 class="mb-3">Create a User</h4>
      <%= simple_form_for User.new do |f| %>
        <%= f.input :username %>
        <%= f.input :password, as: :string %>
        <%= f.submit 'Save User', class: 'btn btn-primary' %>
      <% end %>
      </div>
    </div>
  </div>
</div>

