
<%= simple_form_for(@daily_report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :business, as: :hidden %>
    <div class="row py-2 my-3 border bg-white">
      <div class="col-12 col-md-6">
        <%= f.input :date %>
      </div>
    </div>
    <% unless @daily_report.business == 'store' %>
    <div class="row py-2 my-3 border bg-white">
      <div class="col-12 py-2">
        <h4>Mittag</h4>
      </div>
      <div class="col-6">
        <%= f.input :lunch_umsatz, label: 'Mittag Umsatz' %>
      </div>
      <div class="col-6">
        <%= f.input :lunch_anzahl_personen, label: 'Mittag Anzahl Personen'  %>
      </div>
    </div>
    <div class="row py-2 my-3 border bg-white">
      <div class="col-12 py-2">
        <h4>Abend</h4>
      </div>
      <div class="col-6">
        <%= f.input :dinner_umsatz, label: 'Abend Umsatz'   %>
      </div>
      <div class="col-6">
        <%= f.input :dinner_anzahl_personen, label: 'Abend Anzahl Personen'   %>
      </div>
    </div>

    <div class="row py-2 my-3 border bg-white">
      <div class="col-12 py-2">
        <h4>KreditKarte</h4>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :mastercard %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :visa %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :maestro %>
      </div>
      <div class="col-6 col-md-3">
        <%= f.input :andere %>
      </div>
    </div>
    <div class="row py-2 my-3 border bg-white align-items-end">
      <div class="col-12 py-2">
        <h4>Andere</h4>
      </div>
      <div class="col-3 col-md-3">
        <%= f.input :summe_lunchchecks, label: 'Summe LunchChecks' %>
      </div>
      <div class="col-3 col-md-3">
        <%= f.input :summe_treuekarte, label: 'Summe Treuekarte'  %>
      </div>
      <div class="col-3 col-md-3">
        <%= f.input :summe_rabatte, label: 'Summe Rabatte'  %>
      </div>
      <div class="col-3 col-md-3">
        <%= f.input :summe_rechnung, label: 'Summe Rechnung'  %>
      </div>
    </div>
    <% else %>
    <div class="row py-2 my-3 border bg-white align-items-end">
      <div class="col-12 py-2">
        <h4>Umsatz</h4>
      </div>
      <div class="col-6 col-md-6">
        <%= f.input :total_umsatz, label: 'Total Umsatz'  %>
      </div>
      <div class="col-6 col-md-6">
        <%= f.input :summe_rechnung, label: 'Summe Rechnung'  %>
      </div>
    </div>
    <% end %>

    <div class="row py-2 my-3 border bg-white align-items-end">
      <div class="col-12 py-2">
        <h4>Gutschein und Einkauf</h4>
      </div>
      <div class="col-4">
        <%= f.input :summe_gutschein, label: 'Summe Gutschein'  %>
      </div>
      <div class="col-4">
        <%= f.input :gutschein_nummer, label: 'Gutschein Nummer'  %>
      </div>
      <div class="col-4">
        <%= f.input :summe_einkauf, label: 'Summe Einkauf'  %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>
